SUPABASE_URL= 'supabase_url_of_the_project'
SUPABASE_ANON_KEY = 'supabase_anon_key_of_the_project'
WEB_CLIENT_ID = 'o_auth_2.0_web_client_id_provided_by_google'
IOS_CLIENT_ID = 'o_auth_2.0_web_ios_id_provided_by_google'